body {
  margin: 0;
  background-color: theme("colors.darkslate.900");
  font-family: "Satoshi", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sharpie", "Zodiak", "Cabinet Grotesk", sans-serif;
}
